<!DOCTYPE html>
<html>
    <head>
        <title>Forms page</title>
    </head>
    <body>
        <h1><b>This page is for learning about forms</b></h1>
        <h3>This form is about bio and submit type of input</h3>
        <form action="">
            <label for="Bio">Bio:</label>
            <textarea name="Bio" id="Bio" placeholder="Bio"></textarea>
            <input type="submit" value="Submit">
        </form>
        <h3>This form is about type text</h3>
        <!--the action is for redirecting-->
        <form action="">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter Your Name">
            <input type="submit" value="Submit">
        </form>
        <h3>This Form is About Password</h3>
        <form action="">
            <label for="password">Password:</label>
            <input type="password" name="passowrd" placeholder="Enter Your Password">
            <input type="submit" value="submit">
        </form>
        <h3>This form is about number input</h3>
        <form action="">
            <label for="Number">Number:</label>
            <input type="number" placeholder="input your phone number">
            <input type="submit" value="st">
        </form>
    </body>
</html>