{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <title>Home Page</title>
    </head>
    <body>
        <div id="input-fields">
            <h1 id="header">Input your name</h1>
            <form action="{% url 'name' %}" method="POST" class="forms">
                {% csrf_token %}
                <label for="name" id="lab">Name: </label>
                <input type="text" id="name" name="name">
                <input type="submit" value="submit">
            </form></div>
    </body>
</html>
