<!DOCTYPE html>
<html>
    <head>
        <title>Main</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col-6">
                <p>This is a column, the -6 in the html says that it occupies 6 columns</p>
                <p>The container class is a wrapper that adds some padding and centers the content</p>
              </div>
              <div class="col-6">
                <p>This is another columns, the -6 in the html says it occupies 6 columns</p>
                <p>The row groups columns and ensures the're aligned properly</p>
              </div>
            </div>
        </div>          
    </body>
</html>