<!DOCTYPE html>
{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'css/name.css' %}">
    <head>
        <title>Hello {{ name }}</title>
    </head>
    <body>
        <div id="welcome">
            <h1>Welcome {{ name }}</h1>
        </div>
        <div id="paragraph">
            <p>This is a paragraph because {{name}} doesnt know what to do</p>
        </div>
        <div id="go back">
            <form action="{% url 'home' %}" class="forms" method="POST">
                {% csrf_token %}
                <label for="back">Go Back</label>
                <input type="submit" id="back" value="Go Back">
            </form>
        </div>
    </body>
</html>