<!DOCTYPE html>
<html>
    <head>
        <title>
        Simple Elements
        </title>
    </head>
    <body>
        <h1>This is the first page</h1>
        <p>
            <i>This is an italic paragraph</i>
            <br>  <!--This is a line break-->
            <!--this is a comment-->
            <u>This is a underlined paragraph?</u>
            <br>
            <b>This is a bold text</b>
            <br>
            <strong>this is a strong text</strong>
            <br>
            <strong>
                <i>
                    <u>This is a mix of everything</u>
                </i>
            </strong>
        </p>
        <h2>
            <em>This is something emphasised</em>
        </h2>
        <mark>Markerrrr</mark>
        <br>
        <del>this is a deleted text</del>
        <br>
        <small>This is a smaller text</small>
        <br>
        <sup>subscript</sup>
        <br>
        <sub>superscript</sub>
        <br>
        <p>5 &lt; 10 &amp; 10 &gt; 5</p>
        <p>&copy; 2024 My Company</p>
    </body>
</html>