* {
    font-size: large;
}

body, html {
    height: 100%; /* Ensure the body takes up the full height of the viewport */
    margin: 0; /* Remove default margin */
    display: flex; /* Enable flexbox on the body */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color:burlywood;
}

#input-fields {
    background-color: beige;
    padding: 20px; /* Add some padding inside */
    width: fit-content; /* Automatically adjust width based on content */
    height: fit-content; /* Automatically adjust height based on content */
    border: 2px solid black;
    padding-top: 10px;    /* Top padding */
    padding-right: 15px;  /* Right padding */
    padding-bottom: 20px; /* Bottom padding */
    padding-left: 25px;   /* Left padding */
    border-radius: 15px; /* makes the border round */
}

#lab {
    font-weight: bolder;
}

#header {
    text-align: center;
}