* {
    font-size: large;
}

body, html {
    height: 100%; /* Ensure the body takes up the full height of the viewport */
    margin: 0; /* Remove default margin */
    display: flex; /* Enable flexbox on the body */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#input-fields {
    background-color: beige;
    padding: 20px; /* Add some padding inside */
    width: fit-content; /* Automatically adjust width based on content */
    height: fit-content; /* Automatically adjust height based on content */
}
#lab {
    font-weight: bolder;
}

/* ask about display and padding */

#header {
    text-align: center;
}