body, html {
    height: 100%;
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#welcome {
    border: 2px solid black;
    padding: 20px;
    margin: auto;
}

#paragraph {
    border: 2px solid black;
    padding: 20px;
    margin: auto;
}