<!DOCTYPE html>
<html>
    <head>
        <script>
            document.addEventListener("DOMContentLoaded", function() {

                document.querySelector('form').onsubmit = function(){
                    const name = document.querySelector('#name').value;
                    alert(`Hello ${name}!`);
                };

            });
        </script>
        <!--document.querySelector is used to look through the html, find a specific html element and manipulate it-->
        <!--const means that heading WILL NEVER AGAIN BE CHANGED-->
        <title>
            Hello
        </title>
    </head>
    <body>
        <h1>Hello!</h1>
        <form>
            <input autofocus id="name" placeholder="Name" type="text">
            <input type="submit">
        </form>
        <!--onclick runs the function-->
    </body>
</html>